/* .bar{
    background-color: #e9e4e4; 
    border-radius: 5px;
    width: 100px;
    height: 20px;
  
}
.bar-contents {
    background-color: #0d6efd;
    height: 100%;
    width: 0;
    transition-duration: 2000ms;
  
  }
.bar-contents-filled{
    width: 100%;
} */

.bar{
    
    width:300px;
    height:25px;
    border-radius: 10px;
}
.bar-contents {
    height:100%;
    background-color: #00c251;
  }
.bar-contents-filled{
   
} 